$dustRed100: #fff1f0;
$dustRed200: #ffccc7;
$dustRed300: #ffa39e;
$dustRed400: #ff7875;
$dustRed500: #ff4d4f;
$dustRed600: #f5222d;
$dustRed700: #cf1322;
$dustRed800: #a8071a;
$dustRed900: #820014;
$dustRed1000: #5c0011;


$polarGreen100: #f6ffed;
$polarGreen200: #d9f7be;
$polarGreen300: #b7eb8f;
$polarGreen400: #95de64;
$polarGreen500: #73d13d;
$polarGreen600: #52c41a;
$polarGreen700: #389e0d;
$polarGreen800: #237804;
$polarGreen900: #135200;
$polarGreen1000: #092b00;


$sunriseYellow100: #feffe6;
$sunriseYellow200: #ffffb8;
$sunriseYellow300: #fffb8f;
$sunriseYellow400: #fff566;
$sunriseYellow500: #ffec3d;
$sunriseYellow600: #fadb14;
$sunriseYellow700: #d4b106;
$sunriseYellow800: #ad8b00;
$sunriseYellow900: #876800;
$sunriseYellow1000: #614700;


$volcano100: #fff2e8;
$volcano200: #ffd8bf;
$volcano300: #ffbb96;
$volcano400: #ff9c6e;
$volcano500: #ff7a45;
$volcano600: #fa541c;
$volcano700: #d4380d;
$volcano800: #ad2102;
$volcano900: #871400;
$volcano1000: #610b00;


$daybreakBlue100: #e6f7ff;
$daybreakBlue200: #bae7ff;
$daybreakBlue300: #91d5ff;
$daybreakBlue400: #69c0ff;
$daybreakBlue500: #40a9ff;
$daybreakBlue600: #1890ff;
$daybreakBlue700: #096dd9;
$daybreakBlue800: #0050b3;
$daybreakBlue900: #003a8c;
$daybreakBlue1000: #002766;


$geekBlue100: #f0f5ff;
$geekBlue200: #d6e4ff;
$geekBlue300: #adc6ff;
$geekBlue400: #85a5ff;
$geekBlue500: #597ef7;
$geekBlue600: #2f54eb;
$geekBlue700: #1d39c4;
$geekBlue800: #10239e;
$geekBlue900: #061178;
$geekBlue1000: #030852;


$grey100: #fff;
$grey200: #fafafa;
$grey300: #f5f5f5;
$grey400: #f0f0f0;
$grey450: #e6e6e6;
$grey500: #d9d9d9;
$grey600: #bfbfbf;
$grey700: #8c8c8c;
$grey800: #595959;
$grey900: #434343;
$grey1000: #262626;
$grey1100: #1f1f1f;
$grey1200: #141414;
$grey1300: #000;


$lime100: #fcffe6;
$lime200: #f4ffb8;
$lime300: #eaff8f;
$lime400: #d3f261;
$lime500: #bae637;
$lime600: #a0d911;
$lime700: #7cb305;
$lime800: #5b8c00;
$lime900: #3f6600;
$lime1000: #254000;

